# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore .pyc and __pycache__ directory
*.pyc
__pycache__/
apps/home/__init__.py
apps/home/views/archives_views.py
apps/home/views/dashboard_views.py
apps/home/views/history_views.py
apps/home/views/manage_views.py
apps/home/views/order_views.py
apps/home/views/setup_views.py
db.sqlite3
apps/__pycache__/__init__.cpython-310.pyc
apps/home/__pycache__/__init__.cpython-310.pyc
apps/home/__pycache__/admin.cpython-310.pyc
apps/home/__pycache__/apps.cpython-310.pyc
apps/home/__pycache__/models.cpython-310.pyc
apps/home/__pycache__/serializers.cpython-310.pyc
apps/home/__pycache__/urls.cpython-310.pyc
apps/home/__pycache__/views.cpython-310.pyc
apps/home/api/__pycache__/login.cpython-310.pyc
apps/home/api/__pycache__/management.cpython-310.pyc
apps/home/migrations/__pycache__/0001_initial.cpython-310.pyc
apps/home/migrations/__pycache__/__init__.cpython-310.pyc
config/__pycache__/__init__.cpython-310.pyc
config/__pycache__/settings.cpython-310.pyc
config/__pycache__/urls.cpython-310.pyc
config/__pycache__/wsgi.cpython-310.pyc
*.pyc
*.pyc
